@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    background-color: #e0e0db;
}
/* Navigation Bar */

h1{
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.652);
}

p{
  font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li a:hover:not(.active) {
    background-color: black;
}

.active {
    background-color: green;
}



* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 500px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* My Photo */
.image-container {
    background-image: url("img1.jpg");
    background-size: cover;
    position: relative;
    height: 700px;
  }
  
  .text {
    background-color: white;
    color: black;
    font-size: 10vw; 
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
  }

/*  Profile Card */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-left: 60%;
  margin-top: 10%;
}

.title {
  color: black;
  font-size: 18px;
}

#about{
  display: flex;
    background-color: #8e8e89;

  height: auto;
  width: 90%;
  padding: 2%;
  margin: 5%;


}

#aboutimg{
  width: 50%;
  height: auto;
  

}

#aboutimg img{
  opacity: 90%;
}

#infotext{
  padding-top: 15%;
  width: 50%;
  height: auto;
  background-color: rgba(95, 213, 213, 0.607);
  line-height: 50px;
  
}
#infotext1{
  padding-top: 15%;
  width: 50%;
  height: auto;
  background-color: rgba(97, 193, 122, 0.607);
  line-height: 50px;
  
}

#profile{
  background-image: url("img4.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;

}



#infotext h2,h3{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#infotext1 h2,h3{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

/* Contact Me */

* {
    box-sizing: border-box;
  }
  
  input[type=text], [type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=reset] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=rest]:hover {
    background-color: #45a049;
  }

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }


  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

/* Footer */

  .footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
 }